/*index.htlm css*/

.human-nav-bar{

    margin-left: 58%;
    color: cadetblue;
}
.human-index-div{
    margin: 16%;
}
.human-footer{

color: white;
}
    
.contactus{

    text-align: center;
    color: brown;
     font-size: 70px;
}
/*commoncss*/
.human-removed{
    display: none;
}