/*index.htlm css*/

.human-nav-bar{

    margin-left: 58%;
    color: cadetblue;
}
.human-index-div{
    margin: 16%;
}
.human-footer{

color: white;
}
    
.contactus{

    text-align: center;
    color: brown;
     font-size: 70px;
}
/*commoncss*/
.human-removed{
    display: none;
}

.font-weight-normal{
    font-weight: 400! important;

}

.mb-3, .my-3{
    margin-bottom: 1rem! important;
}
.h3,h3{
    font-size: 1.75rem;
}

.h1,.h2,.h3,.h4,.h5,.h6, h1,h2,h3,h4,h5,h6{
    line-height: 1.2;
}

*, ::after, ::before{
    box-sizing: border-box;
    
}

h1{
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.text-center {
    text-align: center!important;
    padding: 0%;
}

*, ::after, ::before {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
}

  
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  